.data_group_radio,
.per_population_radio {
  flex-direction: row;
}

.radio_groups_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tables_pagination-ul {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.MuiTableContainer-root {
  overflow-y: scroll;
  // max-height: 300px;
}