.tables_pager_wrapper {
  margin: 0 auto;
}

.tables_pager {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.radio_groups_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .data_group_radio,
  .per_population_radio {
    flex-direction: row;
  }
}

.total_cases_wrapper {
  overflow: hidden;

  .MuiTableContainer-root {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}
}

.tables_pagination-ul {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.MuiTableContainer-root {
  overflow-y: hidden;
}