.component_wrapper {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.wrapper_fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;

  & #fullScreen {
    right: 0;
    top: 0;
  }
}

