#root {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tables_pager {
  display: flex;
  max-height: 400px;
  overflow: hidden;
}

.tables_pagination-ul {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.leaflet-container {
  height: 500px;
  max-height: 500px;
  margin-bottom: 20px;
  z-index: 1;
}

.icon-marker {

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: .7em;
  font-weight: bold;
  background-color: crimson;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, .9);

  &:hover {

    .icon-marker-tooltip {
      display: block;
    }

  }

}

.icon-marker-tooltip {

  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: darkgrey;
  border-radius: .4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, .9);

  &:before {
    display: block;
    position: absolute;
    bottom: -.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: darkgrey;
    transform: rotate(45deg);
    margin-left: -.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: .1em;
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    margin: .1em 0;
    font-weight: normal;
    color: darkgrey;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: .6em 0 0;
  }
}

.select-indicator {
  display: flex;
  max-height: 400px;
  max-width: 400px;
  overflow: scroll;
}

th.row {
  position: relative;
  padding-left: 40px;
}

.flag {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.keyboard-container {
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  &--hidden {
    display: none;
  }

  .hg-button {
    transition: all 0.3s ease;
  
    &:hover {
      background-color: lighten(lightgray, 10%);
    }

    &:focus,
    &:active {
      background-color:lighten(lightgray, 5%);
    }
  }
}

.select {
  width: 100%;
  text-align: left;
}

.map-popup-title {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.map-popup-indicator-name {
  font-style: italic;
}
