#root {
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.App {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.tables_pager {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  overflow: scroll;
}

.tables_pagination-ul {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.leaflet-container {
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: calc(100vh - 100px);
  z-index: 1;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: .7em;
  font-weight: bold;
  background-color: crimson;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, .9);

  &:hover {
    .icon-marker-tooltip {
      display: block;
    }
  }

}

.icon-marker-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: darkgrey;
  border-radius: 0.4em;
  margin-bottom: 1em;
  box-shadow: 0 3px 5px rgba(black, 0.9);

  &:before {
    display: block;
    position: absolute;
    bottom: -0.6em;
    left: 50%;
    content: '';
    width: 1.4em;
    height: 1.4em;
    background-color: darkgrey;
    transform: rotate(45deg);
    margin-left: -0.7em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 0.1em;
    margin-top: 0;
  }

  h3 {
    font-size: 1.2em;
    margin: 0.1em 0;
    font-weight: normal;
    color: darkgrey;
  }

  ul,
  p {
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0.6em 0 0;
  }
}

.select-indicator {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  padding: 0;
  overflow: scroll;
}

th.row {
  position: relative;
  padding-left: 40px;
}

.flag {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.keyboard-container {
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  &--hidden {
    display: none;
  }

  .hg-button {
    transition: all 0.3s ease;
  
    &:hover {
      background-color: lighten(lightgray, 10%);
    }

    &:focus,
    &:active {
      background-color:lighten(lightgray, 5%);
    }
  }
}

.select {
  width: 100%;
  text-align: left;
}

.map-popup-title {
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.map-popup-indicator-name {
  font-style: italic;
}

.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 400;

  &-item {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
  }

  & .box {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
    opacity: 1;
    z-index: 2;

    &:hover > .text {
      transform: translateX(0px);
    }
  }

  & .text {
    position: absolute;
    top: 0;
    right: 40px;
    display: inline-block;
    height: 20px;
    transform: translateX(600px);
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.4);
    color: lighten(black, 30%);
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.section-container {
  margin: 0 5px;
  height: calc(100vh - 20px);

  .component_wrapper {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 40px 20px;
  }

  &--left {
    padding: 0;
    border: 0px;
    max-width: 350px;

    .countries_data_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .component_wrapper {

        &:nth-child(1) {
          height: 50%;
          margin-bottom: 14px;
        }

        &:nth-child(2) {
          height: 30%;
        }
      }
    }
  }

  &--center {
    padding: 40px 20px 20px;
    width: calc(100vw - 350px * 2);
    padding: 0;
    border: 0px;

    .component_wrapper {
      overflow: hidden;
    }
  }

  &--right {
    width: 350px;
    max-width: 350px;

    .component_wrapper {
      padding-bottom: 0;

      td {
        padding: 7px;
      }
    }
  }


  .page_expand {
    position: absolute;
    top: -6px;
    right: -3px;
  }

  .chart_container {
    margin: auto;
  }
}
