.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tables_pager {
  display: flex;
  max-height: 400px;
  overflow: hidden;
}

.tables_pagination-ul {
  margin: 0;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.select-indicator {
  display: flex;
  max-height: 400px;
  max-width: 400px;
  overflow: scroll;
}

.row {
  position: relative;
  padding-left: 40px !important;
}

.flag {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.keyboard-container {
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  &--hidden {
    display: none;
  }

  .hg-button {
    transition: all 0.5s ease;
  
    &:hover {
      background-color: lighten(lightgray, 10%);
    }

    &:focus,
    &:active {
      background-color:lightgray;
    }
  }
}

